<div class="section-title"><h2 class="title-centered">Login</h2></div>

<div class="login">

  <h2>Access your CatBnb account</h2>

  <div class="form-element">

    <form action="/login" method="POST" id="form-container">

      <label for="email">Email:</label>
      <input id="email" type="text" name="email" value="jon@snow.com" placeholder="jon@snow.com">
      </div>
      <br>
      <div class="form-element">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" value="12345" placeholder="Your password">
      <br></div>


      {{#if message }}
        <div class="error-message">{{ message }}</div>
      {{/if}}

      <br><br>

      <button>Login</button>

      <p class="account-message">Don't have an account yet? <a href="/signup" class="link-red"> Sign up <i class="fas fa-paw"></i></a></p>
  </form>
  <br><br>

</div>