<div class="section-title"><h2 class="title-centered">Sign Up</h2></div>


<div class="login">
  <h2>Create your account on CatBnb</h2>
  <form action="/auth/signup" method="POST" id="form-container">

    <div class="form-element">
      <label for="name">Name</label>
      <input id="name" type="text" name="name"  value="Jon" placeholder="Jon">
    </div>

    <br>
    
    <div class="form-element">
      <label for="lastname">Lastname</label>
      <input id="lastname" type="text" name="lastname" value="Snow" placeholder="Snow">
    </div>

    <br>

    <div class="form-element">
      <label for="email">Email</label>
      <input id="email" type="mail" name="email" value="jon@snow.com" placeholder="jon@snow.com">
    </div>

    <br>

    <div class="form-element">
      <label for="phone">Phone</label>
      <input id="phone" type="text" name="phone" value="0101010101" placeholder="0101010101">
    </div>

    <br>

    <div class="form-element">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" value="password" placeholder="Your password">
    </div>
    <br>

    <p>Do wou want to become a cat sitter?</p>
    <div>
    <input type="radio" id="catsitter-yes" name="catsitter" value="yes" onChange="displayCatSitterInfos()">
    <label for="huey">Yes</label>
    </div>
    <div>
      <input type="radio" id="catsitter-no" name="catsitter" value="no" onChange="displayCatSitterInfos()">
      <label for="dewey">No</label>
    </div>
    
<div class="hidden" id="catsitter-infos">
    <hr>
    <div class="form-element-large">
    <label for="howManyAnimals">How many cats can you host?</label>
    <input id="howManyAnimals" type="number" name="howManyAnimals" placeholder="1" min="1" max="4" step="1"></div>
    <br>
    <hr>

    <p>What is the type of your home?</p>
    <div>
    <input type="radio" id="home-house" name="homeType" value="house">
    <label for="huey">House</label>
    </div>
    <div>
      <input type="radio" id="home-flat" name="homeType" value="flat">
      <label for="flat">Flat</label>
    </div>
    <br>
    <hr>

    <p>Do you have a garden?</p>
    <div>
    <input type="radio" id="garden-yes" name="hasGarden" value="yes">
    <label for="garden-yes">Yes</label>
    </div>
    <div>
      <input type="radio" id="garden-no" name="hasGarden" value="no">
      <label for="garden-no">No</label>
    </div>
    <br>
    <hr>

    <p>Do you have any animals? (other than cat sitting)</p>
    <div>
    <input type="radio" id="animals-yes" name="hasAnimals" value="yes">
    <label for="yes">Yes</label>
    </div>
    <div>
      <input type="radio" id="animals-no" name="hasAnimals" value="no">
      <label for="no">No</label>
      <hr>
     </div> </div>
    <button type="submit">Create account</button>
  </form>

    


    {{#if message }}
      <div class="error-message">{{ message }}</div>
    {{/if}}

    <p class="account-message">
      You already have an account?
      <a href="/login" class="link-red">Login <i class="fas fa-paw"></i></a> 
    </p>
</div>