<nav class="header">
    <h1 class="logo"><a href="/">{{title}} <i class="fas fa-paw"></a></i></h1>
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
            <i class="fas fa-bars"></i>
    </label>
    <ul class="menu">
      <a href="/"><span class="nav-item"> Home </span></a>
      <a href="/services"><span class="nav-item"> Services </span></a>
      {{#if isLoggedIn}}
        <a href="/dashboard"><span class="nav-item"> My Account </span></a>
        <a href="/logout"><span class="nav-item"> Log Out </span></a>
      {{/if}}
      {{#unless isLoggedIn}}
        <a href="/login"><span class="nav-item"> Log In </span></a>
      {{/unless}}
        <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
        </label>
    </ul>
</nav>