<div class="section-title"><h2 class="title-centered">My dashboard</h2></div>


<div id="profile">

<div class="nav-dahsboard">
    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP2538-CUSA05620_00-AV00000000000074/1555554384000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" alt="user avatar" class="avatar">
    <ul>
      <li>My profile</li>
      <li><a href="/dashboard">Modify my infos</a></li>
      <li><a href="/cats">My cats</a></li>
      <li><a href="/bookings">My bookings</a></li>
    </ul>
  </div>


  
    <div class="infos">
      <h2>My infos</h2><br>
      <form action="/" method="POST" id="form-container">
        <div class="form-element">
          <label for="name">Name</label>
          <input id="name" type="text" name="name" value="Jon" placeholder="Jon">
        </div>

        <br>
        
        <div class="form-element">
          <label for="lastname">Lastname</label>
          <input id="lastname" type="text" name="lastname" value="Snow" placeholder="Snow">
        </div>

        <br>

        <div class="form-element">
          <label for="email">Email</label>
          <input id="email" type="mail" name="email" value="jon@snow.com" placeholder="jon@snow.com">
        </div>

        <br>

        <div class="form-element">
          <label for="phone">Phone</label>
          <input id="phone" type="text" name="phone" value="0101010101" placeholder="0101010101">
        </div>

        <br>

        <label for="avatar">Modify my profile picture:</label>

        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"><br><br>

        <div class="form-element">
          <label for="password">Password</label>
          <input id="password" type="password" name="password" value="" placeholder="Your password">
        </div>
        <br>

      <button class="validate">Modifier mes informations</button>
  </form>
    
</div>

</div>