<div class="section-title"><h2 class="title-centered">Explore</h2></div>
  <div id="profile">
    <div class="nav-dahsboard">
      <img src="/images/default_user.jpg" alt="user avatar" class="avatar">
      <ul>
        <li><a href="/reviews">3 reviews</a></li>
        <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></li>
        <li>4 cats hosted on CatBnb</li>
      </ul>
    </div>
    <div class="infos">
      <button class="validate"><i class="fas fa-arrow-circle-left"></i> Go back to your research</button>
      <br><br>
      <h2>Super Host</h2><br>
      <div class="host-infos">
        <div class="property-container">
          <div class="property-icon">
            <i class="fas fa-home"></i>
          </div>
          House
        </div>
        <div class="property-container">
          <div class="property-icon">
            <i class="fab fa-pagelines"></i>
          </div>
          Has a garden
        </div>
        <div class="property-container">
          <div class="property-icon">
            <i class="fas fa-dog"></i>
          </div>
          No other animals
        </div>
        <div class="property-container">
          <div class="property-icon">
            <i class="fas fa-paw"></i>
          </div>
          Host capacity: 2 cats
        </div>
      </div>
      <br>
      <p>Hi everyone! I used to volunteer in a shelter, now I have a nice house and want to help cat owners taking care of their pets! :) </p>
      <button class="validate">Send a message</button>
      <button class="validate">Choose this cat sitter</button>

{{!--       <button class="validate">Supprimer mon compte</button> --}}
    </form> 
  </div>
</div>