{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>--}}

<div class="large-image">

  <div id="intro-text">
    <h1>Trustworthy cat sitters, near your home. Find yours now!</h1>
  </div>

  <div id="intro-buttons">
    <div><button> <a href="/services"> Discover our services </a></button></div>
    <div><button> <a href="/hosts"> Find a cat sitter </a></button></div>
  </div>

</div>
<div class="section-title"><h2 class="title-centered">Leave with peace of mind, we take care of everything</h2></div>

  <div id="threeitems">
      <div class="item">
        <i class="fas fa-user-check"></i>
        <h2>Verified hosts</h2>
        <p>You can chat with every cat sitter before choosing the most suitable for your pet.</p>
      </div>
      <div class="item">
        <i class="fas fa-phone-volume"></i>
        <h2>Assistance</h2>
        <p>Our team is available 7/7 days to answer all your questions.</p>
      </div>
      <div class="item">
        <i class="fas fa-stethoscope"></i>
        <h2>Vet services</h2>
        <p>Your cat's health is our priority. We make sure a vet is available near every cat sitter.</p>
      </div>
  </div>