{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>--}}

<div class="large-image">

  <div id="intro-text">
    <h1>PetBnb</h1>
    <p> We are the best petsitters in Europe. :) :) </p>
  </div>

  <div id="intro-buttons">
    <button> Discover our services </button>
    <button> Find a petsitter </button>
  </div>

</div>