/*                        GLOBAL                         */

$red: #f38181;
$brown: #584E4A;
$whitey: #f0f0f0;

$duration: .3s;
$distance: 0.8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
	box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
	background-color: ivory;
	padding: 0;
  margin: 0;
  width: 100%;
  
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
  cursor: pointer;
  color: white;
}

button:focus {
  outline:0;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.link-red {
  color: #f38181;
}

.form-element label {
  display: inline-block;
  width: 255px;
}

.form-element-large label {
  display: inline-block;
  width: 255px;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2% 0;
  background-color: $red;
  color: white;
}


/*                         /GLOBAL                          */

/*                       NAVIGATION                          */

.header{
    height: 70px;
    background: ivory;
    padding: 0;
    margin: 0;
    color: #f38181;
  }
  .logo{
    line-height: 70px;
    float: left;
    padding-left: 3%;
    text-transform: uppercase;
  }

  .logo a {
    color: #f38181;
  }
  
  .menu{
    float: right;
    line-height: 70px;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
  }

  .menu a{
    color: #f38181;
    text-transform: uppercase;
    padding: 0 30px;
    transition: 0.4s;
  }

  .show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .show-menu-btn{
    float: right;
  }
  .show-menu-btn i{
    line-height: 100px;
  }
  .menu a:hover,
  .show-menu-btn:hover,
  .hide-menu-btn:hover{
    color: #f38181;
  }
  
  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }

  /*        RESPONSIVE NAV BAR            */
  
  @media all and (max-width:800px) {
    .show-menu-btn,.hide-menu-btn{
      display: block;
    }
    .menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: ivory;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 0;
      line-height: normal;
      transition: 0.7s;
    }
    .menu a{
      display: block;
      padding-bottom: 20px;
      cursor: pointer;
    }
    .hide-menu-btn{
      position: absolute;
      top: 40px;
      right: 40px;
    }
    #chk:checked ~ .menu{
      right: 0;
    }
}

/*        /RESPONSIVE NAV BAR            */

.nav-item {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 5px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #f38181;
  }
  &:before {
    opacity: 0;
    transform: translateY(- $distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }
  &:after {
    opacity: 0;
    transform: translateY($distance/2);
    transition: transform $duration $easeOutBack, opacity $duration;
  }
  &:hover,
  &:focus {
    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }
}


/*                      /NAVIGATION                          */

/*                       INTRO                          */
.large-image {
    width: 95%;
    height: auto;
    background-image: url(/images/happycat.jpg);
    background-repeat: no-repeat;
    background-position: top;
    min-height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding: 5% 0 0 5%;
}

#intro-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#intro-buttons button {
  color: white;
  background-color: #f38181;
  font-size: 1.2rem;
  width: 220px;
  height: auto;
  font-family: "Montserrat",sans-serif;
  border-radius: 6%;
  padding: 4.5%;
  margin: 8% 25% 4% 30%;
}

#threeitems {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 2%;
}

.item {
  padding: 0 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.item .fas {
  font-size: 3rem;
}


/*                      /INTRO                          */

/*                       LOGIN                          */

.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0.5% auto;
  align-items: center;
  background-color: ivory;
  padding-top: 3%;
}

.login h2 {
  margin-bottom: 5%;
}

.login button {
  color: white;
  background-color: #f38181;
  font-size: 1.2rem;
  width: 220px;
  height: auto;
  font-family: "Montserrat",sans-serif;
  border-radius: 6%;
  padding: 1.2%;
  margin: 1% 5%;
}
/*                      /LOGIN                          */

/*                        SIGN UP                          */
.petsitter {
  font-size: 1.2rem;
  font-weight: bold;
}
/*                       /SIGN UP                          */

/*                        DASHBOARD                         */
.title-centered {
  font-weight: bolder;
}

#profile {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  padding: 5% 0 10%;
}

.nav-dahsboard {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-start;
  width: 350px;
  padding: 0 0 200px 0;
}

.nav-dahsboard ul {
  padding: 0;
}

.nav-dahsboard li {
  padding: 5% 0;
}

.nav-dahsboard img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.infos {
  width: 600px;
}

.nav-dahsboard a {
  color: #f38181;
}

.validate {
  color: white;
  background-color: #f38181;
  font-size: 1rem;
  width: 220px;
  height: auto;
  font-family: "Montserrat",sans-serif;
  border-radius: 6%;
}

/*                       /DASHBOARD                         */


/*                        FOOTER                          */

footer {
  height: 100%;
  font-size: 2rem;
  text-align: left;
  padding: 0;
  margin: 0;
  background-color: ivory;
  color: #f38181;
}

/*                       /FOOTER                          */
