/*                        GLOBAL                         */

$red: #F37272;
$brown: #584E4A;
$whitey: #f0f0f0;

$duration: .3s;
$distance: 0.8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

body {
	box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
	background-color: #f38181;
	padding: 0;
  margin: 0;
  width: 100%;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

/*                         /GLOBAL                          */

/*                       NAVIGATION                          */

.header{
    height: 100px;
    background: ivory;
    padding: 0 20px;
    color: #f38181;
  }
  .logo{
    line-height: 100px;
    float: left;
    text-transform: uppercase;
  }
  
  .menu{
    float: right;
    line-height: 100px;
  }

  .menu a{
    color: #f38181;
    text-transform: uppercase;
    padding: 0 20px;
    transition: 0.4s;
  }

  .show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .show-menu-btn{
    float: right;
  }
  .show-menu-btn i{
    line-height: 100px;
  }
  .menu a:hover,
  .show-menu-btn:hover,
  .hide-menu-btn:hover{
    color: #f38181;
  }
  
  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }

  /*        RESPONSIVE NAV BAR            */
  
  @media all and (max-width:800px) {
    .show-menu-btn,.hide-menu-btn{
      display: block;
    }
    .menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: ivory;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 0;
      line-height: normal;
      transition: 0.7s;
    }
    .menu a{
      display: block;
      padding: 20px;
    }
    .hide-menu-btn{
      position: absolute;
      top: 40px;
      right: 40px;
    }
    #chk:checked ~ .menu{
      right: 0;
    }
}

/*        /RESPONSIVE NAV BAR            */

.nav-item {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 5px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0; right: 0;
    height: 2px;
    background-color: #F37272;
  }
  &:before {
    opacity: 0;
    transform: translateY(- $distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }
  &:after {
    opacity: 0;
    transform: translateY($distance/2);
    transition: transform $duration $easeOutBack, opacity $duration;
  }
  &:hover,
  &:focus {
    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }
}


/*                      /NAVIGATION                          */

/*                       INTRO                          */


.large-image {
    width: 100%;
    height: 550px;
    background-image: url(/images/petting-cat.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

#intro-buttons {
  display: flex;
  flex-direction: row;
}
/*                      /INTRO                          */


/*                        FOOTER                          */

footer {
  height: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: ivory;
  color: #F37272;
}

/*                       /FOOTER                          */
