<div class="section-title"><h2 class="title-centered">Yay!</h2></div>

<div class="booking-confirmed property-container">
  <p>Your booking has been confirmed. An email has been sent with all the infos.</p>
  <p>Thanks for using CatBnb!</p>
  <div class="center-button">
    <button center-button><a href="/">Go to homepage</a></button></div>
</div>